body { font-size: 16px;}
.panel-bor { border:none; box-shadow:none;}
.panel-bor .panel-heading { background: hsl(0, 0%, 99%) none repeat scroll 0 0 !important;  border: 0 none;border-radius: 4px;box-shadow: 1px 1px 5px hsl(0, 0%, 91%);margin-bottom: 25px;}
.formcontrol-box label.col-md-4 { padding-left:0px !important; text-align:left;}
.formcontrol-box label.col-md-3 { padding-left:0px !important; text-align:left;}
.button-sec { margin-bottom:40px;}
.breadcrumbs > div, .breadcrumbs > a { display: inline-block; }
.breadcrumbs > div { width: 60% }
.clear-btn button { float: left; margin-right: 7px; width: 38%;}
.data-sale { width:100%; display:inline-block; height:auto; overflow:auto;}
.panel-heading { padding-top:0px;}
.form-group input[type="text"] { height:30px;}
.access-level input[type="checkbox"] {  margin-right: 6px;}
#product_shipping_lists {padding: 12px 25px;}
.action-buttons { min-height: 57px;}

/*.form-group > label + select {height: 65px;}*/

.form-group > label + select {height: 32px;}
td { padding:4px 6px !important;}
#advance_search_form .form-group { margin-bottom:0px !important;}
#advance_search_form .button-sec { margin-bottom:0px;}
#advance_search_form .btn.btn-sm.active { padding:8px 23px;}
.box_highilite div {background: #033c86; margin-top: 10px; min-height: 55px;border-radius:4px;}
.span4 {  width: 370px;}
.m_top_5 { margin-top: 5px !important;}
.box_highilite h3 { color: hsl(0, 0%, 100%); font: bold 14px arial; padding-left: 10px; position: relative;}
.box_highilite h3 span { background: hsl(231.4, 7%, 60.8%) none repeat scroll 0 0; line-height: 18px; min-height: 55px; position: absolute;right: 0;
 text-align: center;top: -10px;}
.box_highilite div span {
    display: inline-block;
    min-width: 85px;
    text-transform: uppercase;
	border-radius:4px;
}
.box_highilite h3 {
    color: hsl(0, 0%, 100%);
    font: bold 14px arial;
	margin: 10px 0;
}
.topsec_info {
    background: hsla(0, 0%, 0%, 0) linear-gradient(to bottom, hsl(0, 0%, 100%) 22%, hsl(0, 0%, 96%) 100%) repeat scroll 0 0;
    border: 3px solid hsl(0, 0%, 85%);
    border-radius: 8px;
	margin-bottom: 40px;
}
.span_half { margin-bottom:40px;}
.span2 {
    width: 140px;
}

.box_highilite [class*="span"] {
    float: left;
  
    min-height: 1px;
}
.ps_sec_blue {
    margin-left: 30px;
    margin-right: 30px;
}
.span4 {
    width: 370px;
}
.box_highilite { margin-bottom:40px;}
#relatedlinks {
    width: 270px;
}
#grid-headers > th, .greenbg_title th { text-align:center; vertical-align:middle;}
.related
{
	 background: #fafafa;
    line-height: 34px;
    padding: 0px 14px;
	
}
.related ul ul {
    margin-left: 24px;
}
.related ul ul {
    margin-left: 24px;
}
.related ul li {
    border-bottom: 1px solid #cccccc;
}
.related ul li ul li {
    border-bottom: none;
}
.related h2 {
    background: #033c86 none repeat scroll 0 0;
    color: #ffffff;
    padding: 5px 11px;
}
.related {
    width: 22%;
}
.topsec_info table td { text-align:center;}

.ship-order textarea.form-control {height: 40px !important;}
.ship-order .panel { margin-bottom: 0;}
.product-sel .search-bt{margin-right: 7px; float: none; width: 100%; max-width: 160px;  display: inline-block;}
.text-r{text-align:right;}
.product-sel .cl-bt{display: inline-block; float: right;}
.product-sel .form-group.address-sec {width: 100% !important;}
.product-sel .form-group.address-sec label{ width:21%;}
.product-sel .formcontrol-box .address-sec .form-control.col-md-8 {width: 76% !important;}
 .formcontrol-box.ship-box .postal { width: 77% !important; float: left; !important;}
 .product-sel .formcontrol-box.ship-box .active-css { padding-left: 0; float: left;
    width: 18% !important; margin-top: 37px !important;}
.product-sel .formcontrol-box.ship-box .postal .form-group { width: 30%;}

/* Sales order view section */
.sales-order-view-section .topsec_info{margin-top:20px; margin-bottom:20px;}
.sales-order-view-section .box_highilite h3 span{min-height: 53px;}
.sales-order-view-section .box_highilite h3 { margin: 17px 0 3px 0;}
.sales-order-view-section .box_highilite h3 span{top: -17px;}
.sales-order-view-section #relatedlinks{padding: 9px; border: 1px solid #ddd; margin-right: 25px;}
.sales-order-view-section .bill-info { width: 36.22%; margin-right: 25px;}
.sales-order-view-section .box_highilite h3 span{background: #ed9b06; border-radius: 0 !important;}
.sales-order-view-section .ship-info {width: 36.222%;}
.sales-order-view-section .bill-info, .sales-order-view-section .ship-info{ margin-bottom: 0 !important;}
.sales-order-view-section .sales-oder-details { float: left; width: 70.666%; margin-left: 14px;}
.sales-order-view-section .bill-info address, .sales-order-view-section .ship-info address{ min-height: 174px; margin-bottom:10px;}
.sales-order-view-section .bill-info .span_half, .sales-order-view-section .ship-info .span_half{margin-bottom:10px;}
.sales-order-view-section .sales-notes, .sales-order-view-section .log-histry { float: right; width: 76%;}
.sales-order-view-section .create-invoice { text-align: right; margin: 8px 0;}
.sales-order-view-section .box_highilite {margin-bottom: 0;}
.clr-orange{color:orange; font-weight: bold;}
.sales-order-view-section .box_highilite div {background: #f0f1f3; min-height: 55px; border-radius: 4px; border: 1px solid #ddd;}
.sales-order-view-section .box_highilite div h3{color:#064ba8;}
/* Sales order view section */

/* popup section */
.modal-dialog.popup-box { max-width:700px; margin: 30px auto; width: 100%}
.popup-box  .modal-content{ width: 700px; overflow-x: auto;}
.modal-dialog.popup-box form td {font-size: 14px; }
.modal-dialog.popup-box form td {  font-size: 14px;}
.modal-header .close { margin-top: -2px;}
.modal-header button.close {  background: red; opacity: inherit; color: #fff; border: 0; -webkit-appearance: none; padding: 0px 8px; line-height: normal;}
.modal-dialog.popup-box .form-group {margin-bottom: 10px;}
.sales-order-view-section .modal { margin: 0 auto; width: 100% !important; max-width: 700px; top: auto; bottom: auto;  overflow-y: inherit; overflow-x: inherit;}
 .sales-order-view-section .popup-address .form-group { width: 30.333%; vertical-align: top; display: inline-block; margin-bottom: 13px; margin-right: 14px;}  
 .sales-order-view-section .popup-address .form-group label { font-size: 15px;} 
 .error_text {color: red; font-size: 14px;}
 .gray-bg{ background:#e7e7e7;}
 .sales-notes #note-body {width: 100%;}
 .ma-top{ margin-top: 30px;}
 .shipmend-sec .form-group { margin-bottom: 5px;}
.shipmend-sec .form-group { display: inline-block; width: 34.333%;}
.shipmend-sec .form-group select, .shipmend-sec .form-group input[type="text"], .shipmend-sec .form-group textarea { width: 100%;}

.box_highilite div
/* popup section */ 
#updat_cart { width:100% !important;}


/* search form */
/*.search-form form > div:first-of-type > div:first-of-type > div { width: 49%; display: inline-block; margin-top: 15px;}
.search-form form label { font-size: 14px; }
.search-form form .form-group { margin-bottom: 0 !important; }
.search-form form > div:first-of-type > div:first-of-type > div > label { width: 42%; padding-right: 4px; }
.search-form form > div:first-of-type > div:nth-child(2) > div ~ div { width: 49%; display: inline-block; }
.search-form form > div:first-of-type > div:nth-child(2) > div ~ div label { width: 42%; padding-right: 4px; }
.search-form form > div:first-of-type > div:nth-child(2) > div:first-of-type label { width: 21%; }
.search-form form > div:first-of-type > div:nth-child(2) > div:first-of-type input { width: 75% !important; }
.search-form form > div:first-of-type > div:last-child > div:nth-child(-n+4):not(:nth-child(2)) { width: 49%; display: inline-block; }
.search-form form > div:first-of-type > div:last-child > div:first-of-type > label { width: 16%; }
.search-form form > div:first-of-type > div:last-child > div:first-of-type > input { width: 80% !important; }
.search-form .formcontrol-box .form-group { margin: 0px 0px 20px; !important; }
.search-form form > div:first-of-type > div:first-of-type > div { margin-top: 0px; }
.search-form .panel-heading { padding-top: 10px !important; }
.search-form .panel-bor .panel-heading { margin-bottom: 17px !important; }
.search-form form > div:first-of-type > div:last-child > div:nth-child(5) > div { width: 32.4%; }
.search-form form > div:first-of-type > div:last-child > div:nth-child(4) > input { margin-left: 22px; }
.search-form form > div:first-of-type > div:last-child > div:nth-last-child(2) label { width: 16%; } */
.search-form form label { font-size: 14px; }

.search-f1 { width: 100%; min-height: 36px; }

.search-f1 .form-group.col-md-6 { width: 50%; display: inline-block; padding-left: 0; }

.search-f1 .col-md-6 label { width: 50%; text-align: left; float: left; }

.search-f1 .col-md-6 input { width: 49%; }

.search-form form .form-group { margin: 0 !important; }

.one-row-label { width: 23.5%; }

.one-row-input { width: 73%; }

.search-f2 { min-height: 87px; }

.search-form .panel-bor .panel-heading { margin-bottom: 17px !important; }

.search-form form input { margin-bottom: 5px !important; }

body .search-form form .third-box > div div { margin: 0 10px 0 0 !important; }

.search-f3 { width: 50% !important; }

.search-f3 label, .search-f3 input { display: inline-block; }

.search-f3 label { width: 48% !important; }

.search-f3 input { width: 46%; }

.search-split-left { float: left; }

.search-split-left, .search-split-right { width: 50% !important; display: inline-block !important; }

.search-f3 { width: 100% !important; }

.search-f4 { width: 100% !important; float: none !important; margin-top: 0 !important; margin-bottom: 8px !important; }

.search-f4 label, .search-f4 input { display: inline-block !important; }

.search-f4 label { width: 48% !important; float: left; }

.search-f4 input { width: 48%; }

.search-checkb { padding-left: 56% !important; }

.second-box { min-height: 287px !important; }

.search-checkb .form-group { margin: 0 !important; }

.pding-align { padding-right: 8px; }

.second-box h2 { margin-bottom: -19px; }

.third-box > div:nth-child(-n + 2) > .call > label { float: left; }

.third-box > div:nth-child(-n + 2) > .call > input, .third-box > div:nth-child(-n + 2) > .call > label  { width:50% !important; display: inline-block; }

.third-box > div:nth-child(-n + 2) > .time > label { display: none; } 

.panel-heading.third-box div { width: auto!important; }

.third-box input[type="text"] { width: 110px !important; min-width: 110px; }

.third-box > div:nth-child(-n + 2) { margin-top: 10px; }

.third-box > div:nth-child(-n + 2) > .time-choose { margin-top: 0 !important; }

.third-box > div:nth-child(-n + 2) > .time-choose select.form-control { height: 31px !important; }

.third-box > div:nth-child(-n + 2) > .use { margin-top: 4px !important; }

.third-box > div:last-child label, .fourth-box > div label{ width: 22.9% !important; float: left; }

.third-box > div:last-child label, .third-box > div:last-child select, .fourth-box > div label, .fourth-box > div select { display: inline-block; }

.third-box > div:last-child select, .fourth-box > div select  { width: 58.6%; }

.panel-heading.fourth-box { padding-top: 10px !important; }

.search-hedalign { margin-bottom: -13px;}

.fifth-box .search-f1 > div:first-child label { width: 23%; }

.fifth-box .search-f1 > div:first-child input { width: 76%; }

.fifth-box .search-f1 > div:last-child { padding-right: 0px; padding-left: 16px; }

.fifth-box .search-f1 > div:last-child label { width: 28%; }

.fifth-box .search-f1 > div:last-child input { width: 72%; }

.search-btn-algn { margin-bottom: 39px; }

.custom-form-log > div .form-group.col-md-4 { width: 33.33333% !important; }

.custom-form-log .panel-heading.formcontrol-box { height: 48px; }

/* common panel heading magin */

.form-group label { font-size: 14px !important; margin-bottom: 5px !important; }

.custom-product-selctn select[multiple], .custom-product-selctn select[size], .search-form select[multiple], .search-form select[size] { }


/* common panel heading magin ends */

.custom-form-log > .panel-heading { margin-bottom: 0px; }

.custom-form-log1.form-grid.panel.panel-default.panel-bor { margin-bottom: -1PX; } 

.custom-form-log1 > .panel-heading { margin-bottom: 0px !important; }

.custom-form-log1 textarea { width: 89.6% !important; height: 47px; }

.custom-form-log1 label { width: 9%; }

.custom-form-log1 .form-group { margin-bottom: 0px !important }

.custom-form-log2 { margin-top: 21px; }

.custom-callback .callback-box1 >.panel-heading.formcontrol-box { height: 74px;  margin-bottom: 14px!important; }

.second-box { min-height: 345px !important; }

.callback-box1 > div > div:last-of-type > div label { padding: 0; }

.callback-box1 > div > div > div > select, .callback-box1 > div > div > div:first-of-type input { min-width: 231px; }

.callback-chckbx { padding-left: 33%; margin: 0 !important; }

.callback-box1 > div > div > div:first-of-type { margin-bottom: 0 !important; }

.callback-box2 .form-group > textarea { width: 86.7%; height: 39px; }

.callback-box2 .form-group > label { width: 11.8%; }

.callback-box2 .form-group { margin-bottom: -6px !important; }

/* product selection */

.custom-product-selctn .form-grid .form-group > label { width: 50%; }

.custom-product-selctn .form-grid .form-group > input, .custom-product-selctn .form-grid .form-group > select { width: 50%; }

.custom-product-selctn .form-group { margin: 0 !important; }

.custom-product-selctn > div > div > div { height: 198px; margin-bottom: 0px !important; }

.p-s-checbx input { width: 10% !important; }

.p-s-checbx { font-size: 11px; padding-left: 42%; margin: 0 !important; }

/* .s-p-quantity > div:nth-child(2) { margin-top: 8px !important; } */

.s-p-quantity > div { padding: 0; }

.s-p-quantity > div:last-child { margin-top: 0 !important; }

.s-p-quantity > div:last-child  > input { width: 20%!important; }

.s-p-quantity > div:last-child label { width: 40px !important;  padding: 0; }

.s-p-quantity > div:first-child label { width: 63% !important; }

.s-p-quantity > div:first-child input { width: 37%!important;}

.s-p-quantity > div:last-child { margin-top: 6px !important; margin-left: 13px !important; }

.s-p-quantity1 > div > label { padding: 0; }

.s-p-quantity1 > div:last-child { margin-top: 6px !important; margin-left: 0 !important; padding-left: 0; width: 37% !important; }

.s-p-quantity1 > div { width: 50% !important; }

.s-p-quantity1 > div:last-child input { width: 15% !important; }

.s-p-quantity1 > div:first-child { width: 63% !important; }

.s-p-box3 > div { height: 183px; }

.s-p-box3 > div > div > input { width: 61% !important; }

.s-p-box3 > div > div:first-of-type > input { margin-bottom: 6px !important; }

.s-p-box3 > div > div > label { width: 32% !important; }

.s-p-quantity > div:first-child { width: 51% !important; }

.s-p-quantity > div:nth-child(2) { width: 10% !important; margin-left: 10px !important; }

.s-p-box4 > div > div:first-child div:last-of-type { margin: 13px 0 0 0; padding: 0; }

.s-p-box4 > div > div:first-child div { width: 50% !important; padding: 0 !important; }

.s-p-box4 > div > div:first-child div:last-of-type input { width: 14px; margin-left: 10px; }

.s-p-box4 > div > div:first-child div:last-of-type label { width: 51%; padding: 0; }

.s-p-box4 > div > div:first-child > div:first-child { width: 67% !important; }

.s-p-box4 > div > div:first-child > div:last-child { width: 30% !important; }

.s-p-box4 > div > div:first-child > div:first-child input { margin-bottom: 5px !important; }

.s-p-box4 > div > div:first-child > div:first-child label { width: 74% !important; }

.s-p-box4 > div > div:first-child > div:first-child input { width: 24% !important; }

.s-p-quantity > div:nth-child(2) select { height: 31px; width: 34px !important; padding: 0; }

.custom-product-selctn .prod-sel { min-height: auto; }

.s-p-box2 > div > div:nth-child(-n + 2) > label { padding-right: 0 !important; }

.s-p-box1 > div > div:last-child label { margin-right: 0px !important; padding-right: 0; }


/* add purchase page */

.a-d-box1 > div div, .a-d-box2 > div div, .a-d-box3 > div div { margin: 0 !important; }

.a-d-box3 {  margin-bottom: 0; }

.a-d-box1 > div, .a-d-box2 > div, .a-d-box3 > div { min-height: 259px !important; margin-bottom: 0 !important; }


#inventory_form .modal-dialog { width: 1026px !important;}
#inventory_form .modal-content .container { width:100%;}
#inventory_form .panel-body {
    height: 1450px;
    overflow: auto;
}










/* search form */

@media (min-width:992px){
.product-sel .formcontrol-box.ship-box .active-css{padding-left: 0;}
.postal .form-group { margin-bottom: 0; padding: 0 8px 0 0;}
.city {width:250px;}
.zip{ width:184px;}
.call{ width:35%; margin-right:10px; }
.time{ width:30%;}
.time input { width:100%;}
.call-group .form-group { float:left;}
.time-choose, .use { margin-left:10px; margin-top:4px;}
.select-box { max-width:322px !important;}
.call-group { width:100%; display:inline-block;}
.second-box { min-height:554px;}
.formcontrol-box .form-control.col-md-8 { width:52.6667% !important;}
.formcontrol-box .form-control.col-md-9 { width:75% !important;}
.product-sel .formcontrol-box.ship-box .form-group {display: inline-block; width: 48%; margin: 4px 8px 0 0;}
.formcontrol-box .form-group { display: inline-block; width: 100%; margin: 10px 0px 20px;}
.formcontrol-box.ship-box label {line-height: normal; font-size: 14px; width: 44%; }
.postal .form-group {float: left; width: 33.338%;}
.ship-box .postal
.postal {padding-left: 33%;}
.ship-box .postal{padding-left:0;}
.active-css { padding-left:33%;}
.call-log { height:120px;}
.ship-box { min-height:265px;}
.call-group1 .form-group:nth-child(1){width:60%; float:left;}
.call-group1 .form-group:nth-child(2){width:30%; margin: 55px 0 0 18px;}
.call-group2 .form-group:nth-child(1){width:46%; float:left;}
.call-group2 .form-group:nth-child(2){width:20%; margin: 40px 0 0 10px; float:left;}
.call-group2 .form-group:nth-child(3){width:25%; margin: 44px 0 0 10px; float:left}
.prod-sel { min-height:670px;}
.call-group .use { margin-top: 11px;}
select { width:100%;}
.cus-name .form-group { width:50% !important;}
form .error::after { right:0px !important;}
.city1.error::after, .state1.error::after, .zip1.error::after{
    bottom: -46px;
    left: 0;
    width: 93%;
}
.fname1.error::after, .lname1.error::after{
    bottom: -46px;
    left: 0;
    width: 93%;
}
.category { max-width:600px;}
.add-user .form-group { width:25%; float:left;}
.add-user1 { max-width:800px;}
.action-buttons { padding:10px 35px !important;}
.postal .form-group.shapping-add {width: 31.338%;}

}


@media ( min-width: 769px ) and ( max-width: 992px ) {
 body .btn-block { width: 68% !important; margin: 0 auto 30px auto; }
.form-group .btn { width: 68% !important; margin: 0 auto 30px auto; }
}
@media ( min-width: 850px ) and ( max-width: 991px ) { 
.formcontrol-box select { width: 100% !important; }
}

@media ( min-width: 769px ) and ( max-width: 846px ) {  
.search-bar form > div:last-of-type > div input {
    margin-bottom: 20px !important;
}
.search-bar form > div:last-of-type > div span button, .search-bar form > div:last-of-type > div a {
    position: relative;
    top: -10px;
    margin-top: 0 !important;
}
.formcontrol-box select { width: 100% !important; }
}
@media ( max-width:768px){
.postal .form-group {padding-left: 0;padding-right: 0;}
.button-sec button { margin-bottom:20px;}
.panel-heading select { width:100%;}
#call_log{ width: 100%; }
.formcontrol-box > div > label { padding: 0; }
#simple_search_form > div { width: 100%; }
.top-lisiting-search > form, .top-lisiting-search > .right-section {  width: 100%; }
.search-bar form > div { width: 50% !important; }
.search-bar .right-section > div { width: 50%; }
.search-bar .right-section > div > button { width: 78%; }
.search-bar .right-section > div > span:first-of-type { width: 23% !important; padding: 0; text-align: left;}
.right-section > div > span { width: 77% !important; padding-left: 0; }
#simple_search_form { padding-bottom: 56px; }
#data_table { width: 100% !important; }
.panel-bor { width: 100% !important; }
.formcontrol-box select { width: 100% !important; }
}
@media ( max-width: 767px ) { 
#call_log{ width: 100%; }
.formcontrol-box > div > label { padding: 0; }
.top-lisiting-search > form, .top-lisiting-search > .right-section {  width: 100%; }
.search-bar form > div { width: 50% !important; }
.search-bar form > div:first-of-type { float:left; }
.right-section > div { width: 50%; }
.right-section > div > button { width: 78%; }
.right-section > div > span:first-of-type { width: 23% !important; padding: 0; text-align: left;}
.right-section > div > span { width: 77% !important; padding-left: 0; }
#simple_search_form { padding-bottom: 56px; }
#data_table { width: 100% !important; }
.search-bar form > div:first-of-type { float: left; width: 32% !important;}
.search-bar form > div:last-of-type { float: right; width: 68% !important; }
.right-section > div:last-of-type { float: right;}
.right-section > div > span:last-of-type, .right-section > div > span:first-of-type { display: inline-block; }
.right-section > div > span:last-of-type { width: 15% !important; padding-left: 0; width: 61% !important; }
.right-section > div > span:first-of-type { width: 36% !important; padding: 0; text-align: left; }
.right-section > div > button { width: 59%; }
.advanced-search .caret { margin: 0 0 0 -14px; }
.advanced-search .btn { border-radius: 0; padding: 5px 25px 5px 10px; background: #fff; color: #6a7987; font-size: 14px; }
#simple_search_button { top: -8px; position: relative; }
.advanced-search .caret { margin: 0 0 0 3px; }
.search-bar form > div:last-of-type a { position: relative; top: -21px; }
.search-bar form > div:last-of-type span { position: relative; top: 0px; }
.right-section > div:first-of-type { float: left; }
.panel-bor { width: 100% !important; }
.sales-cntrl-btn { float: none !important; text-align: center; margin: 0 auto; }
.call-log > .container { width: 100% !important; }
body .btn-block { width: 68% !important; margin: 0 auto 30px auto; }
.form-group .btn { width: 68% !important; margin: 0 auto 30px auto; }
}
@media ( min-width: 320px ) and ( max-width: 469px ) {
	body #simple_search_form > div { width: 100% !important; }
.right-section > div { float: none; display: block; width: 100%; margin-bottom: 17px; }
	}