.panel-bor { border:none; box-shadow:none;}
.panel-bor .panel-heading { background: hsl(0, 0%, 99%) none repeat scroll 0 0 !important;  border: 0 none;border-radius: 4px;box-shadow: 1px 1px 5px hsl(0, 0%, 91%);margin-bottom: 25px;}
.formcontrol-box label.col-md-4 { padding-left:0px !important; text-align:left;}
.formcontrol-box label.col-md-3 { padding-left:0px !important; text-align:left;}
.button-sec { margin-bottom:40px;}
.breadcrumbs > div, .breadcrumbs > a { display: inline-block; }
.breadcrumbs > div { width: 60% }
.clear-btn button {
    float: left;
    margin-right: 7px;
    width: 38%;
}
.data-sale { width:100%; display:inline-block; height:300px; overflow:auto;}
.panel-heading { padding-top:0px;}
.form-group input[type="text"] { height:30px;}

@media (min-width:992px)
{
.postal .form-group { margin-bottom: 0; padding: 0 8px 0 0;}
.city {width:250px;}
.zip{ width:184px;}
.call{ width:35%; margin-right:10px; }
.time{ width:30%;}
.time input { width:100%;}
.call-group .form-group { float:left;}
.time-choose, .use { margin-left:10px; margin-top:4px;}
.select-box { max-width:322px !important;}
.call-group { width:100%; display:inline-block;}
.second-box { min-height:554px;}
.formcontrol-box .form-control.col-md-8 { width:66.6667% !important;}
.formcontrol-box .form-control.col-md-9 { width:75% !important;}
.formcontrol-box .form-group { display: inline-block; width: 100%; margin:10px 0px; margin-bottom:20px;}
.postal .form-group {float: left; width: 33.338%;}
.postal {padding-left: 33%;}
.active-css { padding-left:33%;}
.call-log { height:120px;}
.ship-box { min-height: 726px;}
.call-group1 .form-group:nth-child(1){width:60%; float:left;}
.call-group1 .form-group:nth-child(2){width:30%; margin: 55px 0 0 18px;}
.call-group2 .form-group:nth-child(1){width:46%; float:left;}
.call-group2 .form-group:nth-child(2){width:20%; margin: 40px 0 0 10px; float:left;}
.call-group2 .form-group:nth-child(3){width:25%; margin: 44px 0 0 10px; float:left}
.prod-sel { min-height:670px;}
.call-group .use { margin-top: 11px;}
select { width:100%;}
.cus-name .form-group { width:50% !important;}
form .error::after { right:0px !important;}
.city1.error::after, .state1.error::after, .zip1.error::after{
    bottom: -46px;
    left: 0;
    width: 93%;
}
.fname1.error::after, .lname1.error::after{
    bottom: -46px;
    left: 0;
    width: 93%;
}
.category { max-width:600px;}
.add-user .form-group { width:25%; float:left;}
.add-user1 { max-width:800px;}
.action-buttons { padding:10px 35px !important;}
}


@media ( min-width: 769px ) and ( max-width: 992px ) {
 body .btn-block { width: 68% !important; margin: 0 auto 30px auto; }
.form-group .btn { width: 68% !important; margin: 0 auto 30px auto; }
}
@media ( min-width: 850px ) and ( max-width: 991px ) { 
.formcontrol-box select { width: 100% !important; }
}

@media ( min-width: 769px ) and ( max-width: 846px ) {  
.search-bar form > div:last-of-type > div input {
    margin-bottom: 20px !important;
}
.search-bar form > div:last-of-type > div span button, .search-bar form > div:last-of-type > div a {
    position: relative;
    top: -10px;
    margin-top: 0 !important;
}
.formcontrol-box select { width: 100% !important; }
}
@media ( max-width:768px){
.postal .form-group {padding-left: 0;padding-right: 0;}
.button-sec button { margin-bottom:20px;}
.panel-heading select { width:100%;}
#call_log{ width: 100%; }
.formcontrol-box > div > label { padding: 0; }
#simple_search_form > div { width: 100%; }
.top-lisiting-search > form, .top-lisiting-search > .right-section {  width: 100%; }
.search-bar form > div { width: 50% !important; }
.search-bar .right-section > div { width: 50%; }
.search-bar .right-section > div > button { width: 78%; }
.search-bar .right-section > div > span:first-of-type { width: 23% !important; padding: 0; text-align: left;}
.right-section > div > span { width: 77% !important; padding-left: 0; }
#simple_search_form { padding-bottom: 56px; }
#data_table { width: 100% !important; }
.panel-bor { width: 100% !important; }
.formcontrol-box select { width: 100% !important; }
}
@media ( max-width: 767px ) { 
#call_log{ width: 100%; }
.formcontrol-box > div > label { padding: 0; }
.top-lisiting-search > form, .top-lisiting-search > .right-section {  width: 100%; }
.search-bar form > div { width: 50% !important; }
.search-bar form > div:first-of-type { float:left; }
.right-section > div { width: 50%; }
.right-section > div > button { width: 78%; }
.right-section > div > span:first-of-type { width: 23% !important; padding: 0; text-align: left;}
.right-section > div > span { width: 77% !important; padding-left: 0; }
#simple_search_form { padding-bottom: 56px; }
#data_table { width: 100% !important; }
.search-bar form > div:first-of-type { float: left; width: 32% !important;}
.search-bar form > div:last-of-type { float: right; width: 68% !important; }
.right-section > div:last-of-type { float: right;}
.right-section > div > span:last-of-type, .right-section > div > span:first-of-type { display: inline-block; }
.right-section > div > span:last-of-type { width: 15% !important; padding-left: 0; width: 61% !important; }
.right-section > div > span:first-of-type { width: 36% !important; padding: 0; text-align: left; }
.right-section > div > button { width: 59%; }
.advanced-search .caret { margin: 0 0 0 -14px; }
.advanced-search .btn { border-radius: 0; padding: 5px 25px 5px 10px; background: #fff; color: #6a7987; font-size: 14px; }
#simple_search_button { top: -8px; position: relative; }
.advanced-search .caret { margin: 0 0 0 3px; }
.search-bar form > div:last-of-type a { position: relative; top: -21px; }
.search-bar form > div:last-of-type span { position: relative; top: 0px; }
.right-section > div:first-of-type { float: left; }
.panel-bor { width: 100% !important; }
.sales-cntrl-btn { float: none !important; text-align: center; margin: 0 auto; }
.call-log > .container { width: 100% !important; }
body .btn-block { width: 68% !important; margin: 0 auto 30px auto; }
.form-group .btn { width: 68% !important; margin: 0 auto 30px auto; }
}
@media ( min-width: 320px ) and ( max-width: 469px ) {
	body #simple_search_form > div { width: 100% !important; }
.right-section > div { float: none; display: block; width: 100%; margin-bottom: 17px; }
	}